.fitInMiddle{
    margin-top: 11vh;
}
.iconColor{
    color: white;
    height: 5%;
    width: 15%;
    margin-right: 10px;
}
.icon {
    background-color: transparent;
    width: 120%;
    height: 70%;
}
.sidebar_text{
    color: red;
}
.txt{
    font-weight: 400;
    font-size: large;
    letter-spacing:0.7px;
}
.closeIcon{
margin-top: 20%;
margin-left: 20%;
font-weight: 1200;

}
