.heading {
  text-transform: capitalize;
  font-weight: 700;
  font-family: sora;
  font-size: 100%;
  color: #395d89;
  margin-left: 10%;
  margin-top: 5%;
}

.back {
  text-transform: lowercase;
  font-family: sora;
  font-style: normal;
  font-weight: 400;
  font-size: 100%;
  line-height: 18px;
  float: right;
  margin-right: 10%;
  margin-top: 5%;
  text-decoration: underline;
  color: #000000;
  cursor: pointer;
}

.details {
  margin-top: 10%;
  margin-left: 10%;
}

.parent {
  display: flex;
  margin-top: 6vh;
  font-size: 120%;
  font-weight: 400;
  font-family: Sora;
  font-style: normal;
  word-wrap: break-word;
}
.child {
  flex: 0 3 250px;
}
.input {
  background-color: transparent;
  border: 0px solid;
}
.tit {
  color: #606060;
}
.val {
  color: #313131;
}
@media screen and (max-width: 768px) {
  .details {
    margin-top: 20px;
  }
}
