.notificationBox{
        display: flex;
        flex-direction: column;
        overflow: hidden;
        overflow-y: scroll;
    width:75%;
    height:475px;
    margin-left:20%;
    /* border:2px solid red; */
}
.notificationBox::-webkit-scrollbar{
    display: none;
}

 .notifi_heading{
    font-family: 'Sora';
font-style: normal;
position:relative;
font-weight: 700;
margin: 3% 20%;
font-size: 20px;
line-height: 25px;
color: #000000;

}
.notificationBox .notificationRow{

display: flex;
flex-direction: row;
justify-content: space-between;
height: 50px;
padding:5px 20px;
font-family: 'Sora';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 18px;
border-bottom:0.2px solid #9a9999;
}