.analysis_main {
  margin-left: 190px;
  margin-top: 95px;
  margin-right: 50px;
  /* background-color: red; */
}
.analysis_mai_div {
  z-index: 9998;
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;

  background: rgba(0, 0, 0, 0.453);
}

.analysis_header {
  display: flex;
  justify-content: space-between;
  /* margin-left: 150px; */
  /* margin-top: 20px; */
  /* margin-right: 50px; */
}
.analysis_pagination {
  display: flex;
  justify-content: space-between;
  margin-top: 150px;
}
.analysis_second_main h1 {
  font-weight: 800;
  font-size: 35px;
  color: #395d89;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.analysis_second_main h5 {
  margin-top: 25px;
  text-align: justify;
  font-family: "Sora", sans-serif;
  font-style: normal;
  font-weight: normal;
  color: #7b757a;
}
.analysis_cross_icon {
  font-weight: 100;
  font-size: 25px;
  cursor: pointer;
}
.analysis_body {
  /* margin-top: 200px; */
  display: flex;
  justify-content: space-between;
  /* margin-right: 200px; */
  margin: auto;
  height: auto;
}
.analysis_body_tags {
  width: 60%;
  margin-top: 40px;
}

.analysis_image {
  /* margin-top: 50px; */
  margin-top: 35px;
  margin-right: 340px;
  position: relative;
  /* width: 250px; */
  width: 350px;
  text-align: center;
}
.analysis_image img {
  /* width: 100%;
  height: 20rem;
  border: #eaf0fb solid 9px; */
  /* width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
}
.analysis_image h6 {
  float: right;
  margin-top: 10px;
  color: #2c2929;
}
.download {
  margin-top: 330%;
  color: #2c4564;
  font-weight: bolder;
}
.next {
  margin-right: 150px;
}
.analysis_image p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* bottom:200px; */
  color: #2c4564;
}
.analysis_tags {
  margin-top: 25px;
}
.analysis_tags p {
  font-weight: 500;
  margin-top: 40px;
}
.analysis_body_firstext {
  font-weight: bolder;
  margin-top: 50px;
  font-size: 18px;
  position: relative;
  top: 27px;
}
.analysis_body_tag {
  /* margin-top: 15px; */
  margin-top: 40px;
  width: auto;
}
.analysis_body_tag p {
  font-weight: 500;
}

.analysis_form {
  margin-top: 35px;
}
.model {
  width: 90%;
  margin: auto;
  border: none;
}
.tag_item_div {
  display: inline;
  flex-wrap: wrap;
  /* margin: 0; */
  margin-top: -10px;
  padding: 0;
  width: 100%;
}
.tag_text {
  align-items: center;
  /* background: rgba(230, 230, 250, 0.671); */
  background: #f0e6fe;
  border-radius: 2px;
  color: rgb(120, 120, 211);
  margin-bottom: 20px;
  margin-right: 5px;
  padding: 10px 20px;
  border-radius: 5px;
  /* max-width: 25px; */
  margin-top: 15px;
}
.tag_text button {
  margin-top: 15px;
  align-items: center;
  appearance: none;
  border: none;
  color: rgb(120, 120, 211);
  cursor: pointer;
  display: inline-flex;
  font-size: 15px;
  height: 15px;
  justify-content: center;
  background-color: transparent;
  line-height: 10px;
  margin-left: 8px;
  padding: 0;
  width: 15px;
}
.view_image {
  font-weight: bold;
  border-bottom: #2c4564 solid 2px;
  cursor: pointer;
  text-align: center;
}

.image_modal {
  z-index: 9999;
  position: absolute;
  top: 50%;
  left: 50%;

  width: 90%;

  transform: translate(-50%, -50%);
}
.image_modal_close {
  position: relative;
  float: right;
  margin-top: 10px;
  color: white;
  border-bottom: white 2px solid;
  cursor: pointer;
}
.image_modal img {
  width: 100%;
  height: 650px;
  border: none;
}
.image_modal_title {
  position: relative;
  float: left;
  color: white;
}
.image_modal_download {
  position: relative;
  float: right;
  color: white;

  cursor: pointer;
}
.Analysis_Image {
  visibility: hidden;
}

@media screen and (min-width: 997px) and (max-width: 2100px) {
  .analysis_image p {
    position: absolute;
    top: 150px;
  }
}
/* @media screen and (max-width: 996px) {
    .analysis_body {
      width: 100%;
      margin: 0 auto 0 auto;
      display: block;
    }
    .analysis_main {
      margin-left: 20px;
      margin-top: 30px;
    }
    .analysis_tags {
      margin: auto;
    }
    .analysis_image {
      width: 90%;
    }
    .analysis_image img {
      margin-top: 10px;
      width: 100%;
      height: 35vh;
    }
    .analysis_mai_div {
      z-index: 9998;
      position: absolute;
      width: 100%;
      height: auto;
      top: 0;
      left: 0;
      background: rgba(0, 0, 0, 0.453);
    }
    .analysis_image h6 {
      font-size: 20px;
    }
    .next {
      margin-right: 20px;
    }
  } */

/* hhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhh */

@media screen and (max-width: 996px) {
  .analysis_main {
    margin-left: 20px;
    margin-top: 30px;
  }

  .analysis_mai_div {
    padding-bottom: auto;
  }
  .analysis_image {
    width: 90%;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .analysis_image img {
    margin-top: 10px;
    width: 100%;
    height: 30vh;
  }
  .analysis_body {
    width: 100%;
    margin: 0 auto 0 auto;

    display: block;
  }
  .analysis_mai_div {
    height: auto;
  }

  .analysis_image h6 {
    font-size: 20px;
  }
  .next {
    margin-right: 20px;
  }
  .analysis_pagination {
    margin-top: 50px;
  }
  .tag_text,
  .tag_text button {
    margin-top: 17px;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 1200px) {
  .analysis_main {
    margin-left: 100px;
    margin-top: 30px;
    margin-right: 0px;
  }
  .analysis_cross_icon {
    margin-right: 20px;
  }
}
@media screen and (max-width: 768px) {
  .analysis_body {
    margin-top: 20px;
    margin-right: 0px;
  }
  .analysis_cross_icon {
    margin-right: 0px;
  }
  .analysis_main {
    margin-left: 30px;
    margin-top: 20px;
  }
  .analysis_body_tags {
    width: auto;
  }

  .analysis_mai_div {
    z-index: 9998;
    position: absolute;
    width: 100%;
    /* height: 100%; */
    top: 0;
    left: 0;

    background: rgba(0, 0, 0, 0.453);
  }
  .analysis_image {
    margin-left: 10px;
  }
  .image_modal img {
    width: 100%;
    height: 400px;
    border: none;
  }
  .image_modal_download,
  .image_modal_title,
  .image_modal_close {
    font-size: 12px;
  }

  .previous,
  .next {
    font-size: 20px;
  }

  .analysis_image h6 {
    font-size: 15px;
  }
  .analysis_main {
    margin-right: 20px;
  }
  .analysis_second_main h5 {
    font-size: 17px;
  }
  .tag_text {
    border-radius: 1.5px;
    margin-bottom: 15px;
    margin-right: 2.5px;
    padding: 5px 10px;
    border-radius: 2.5px;
    /* margin-top: 17px; */
    margin-top: 10px;
  }
  .tag_text button {
    font-size: 15px;
    height: 10px;

    line-height: 5px;
    margin-left: 10px;
    padding: 0;
    width: 15px;
    margin-top: 10px;
  }

  .next {
    margin-right: 0px;
  }
  .analysis_body {
    height: auto;
  }
  .analysis_mai_div {
    min-height: 100vh;
  }
  .analysis_pagination {
    padding-top: 10px;
  }
}
@media screen and (min-width: 769) and (max-width: 995px) {
  .analysis_mai_div {
    width: 100vw;
    min-height: 100vh;
    margin-top: 20px;
  }
}
@media screen and (max-height: 850px) {
  .image_modal {
    z-index: 9999;
    position: absolute;
    top: 50%;
    left: 50%;

    width: 90%;

    transform: translate(-50%, -50%);
  }
  .image_modal {
    height: auto;
  }
  .image_modal img {
    width: 100%;
    height: 450px;
    border: none;
  }
  /* .analysis_pagination {
    margin-top: 10px;
  } */

  .analysis_image h6 {
    font-size: 15px;
  }
}
/* @media screen and (max-height: 1500px) {
  .analysis_mai_div {
    z-index: 9998;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.453);
  }
} */

.imagemain_tap p {
  margin-top: 13px;
  font-size: 25px;
  cursor: pointer;
}
.imagetap {
  display: flex;
  /* width: 34%; */
  line-height: 70px;
  margin: 10px;
  text-align: center;

  overflow-x: scroll;
  text-align: center;
  /* padding-left: 20px;
  margin-left: 20px; */
}
.imagetap img {
  height: 50px;
  width: 50%;
  margin: 0 6px 0 6px;
  justify-items: center;
  border: #000000 solid 2px;
}
.image_slice:hover {
  border: #3699fb solid 5px;
  width: 70%;
  height: 55px;
}
.imagetap::-webkit-scrollbar {
  visibility: hidden;
}
.imagemain_tap {
  width: auto;
}
.mybox {
  display: flex;
  flex-direction: row;
  width: 250px;
  height: 100px;
  padding-bottom: 0px;
}
.mybox span {
  margin-top: 12px;
  font-size: 30px;
  cursor: pointer;
  color: #606060;
}

@media screen and (max-width: 1156px) {
  .analysis_image {
    margin-right: 100px;
  }
}





.center_div {
  margin: auto;
  width: 50%;
}

.imagestyle {
  width: 60px;
  height: 60px;
  margin: 0px;
  padding: 0px;
}

.bigImage {
  /* visibility: hidden; */
  margin-left: 2.7px;
  width: 70%;
  height: 300px;
  /* border: 2px solid rgb(6, 6, 6); */
}
.bigImage img {
  width: 90%;
  height: 270px;
  margin-left: 25%;
}
.carousel_itme {
  width: 275px;
  margin: 10px;
  /* margin-top: 40px; */
}

.alice_carousel__next_btn,
.alice_carousel__prev_btn {
  /* font-size: 20px; */
  /* font-weight: 900; */
  max-width: 20px;
}

.carsousel_size {
  width: 100px;
}
.carousel_main {
  height: 200px;
  margin-left: 5%;
}
.imagestyle:hover {
  
  transform: scale(1.25);
  /* width: 62px;
  height: 65px; */
  border: 1px solid #3699fb;
}