.heading {
  text-transform: capitalize;
  font-weight: 700;
  font-family: sora;
  font-size: 100%;
  color: #395d89;
  margin-left: 10%;
  margin-top: 5%;
}

.back {
  text-transform: lowercase;
  font-family: sora;
  font-style: normal;
  font-weight: 400;
  font-size: 100%;
  line-height: 18px;
  float: right;
  margin-right: 10%;
  margin-top: 5%;
  text-decoration: underline;
  color: #000000;
}

.details {
  margin-top: 10%;
  margin-left: 10%;
}

.parent {
  display: flex;
  margin-top: 6vh;
  font-size: 120%;
  font-weight: 400;
  font-family: Sora;
  font-style: normal;
  color: #606060;
}
.child {
  flex: 0 3 250px;
  color: #313131!;
  height: 4%;
}

.input {
  background-color: transparent;
  border: 0px solid;
  width: 160px;
  color: 313131;
}
.visIcon {
  float: right;
  
}
.dis {
  outline: 0;
  border-width: 0 0 2px;
  border-color: black;
}
.btn {
  /* margin-top: 4%;
<<<<<<< HEAD
  background-color: #b7d7f7;
=======
  background-color: #0095ff;
>>>>>>> e432cbfdab05804a1fd4225c13afcfe82cbadfb4
  border: 1px solid transparent;
  border-radius: 3px;
  box-shadow: rgba(255, 255, 255, 0.4) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", "Liberation Sans",
    sans-serif;
  font-size: 100%;
  font-weight: 450;
  outline: none;
  padding: 8px 0.8em;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
<<<<<<< HEAD
  white-space: nowrap;
  width: 6%;
  height: 3%; */
=======
  white-space: nowrap; */

>>>>>>> e432cbfdab05804a1fd4225c13afcfe82cbadfb4
  background-color: #b7d7f7;
  font-family: "Sora";
  font-size: 15px;
  padding: 10px 25px 10px 25px;
  margin-top: 4%;
  border: none;
  border-radius: 5px;
  color: #000000;
  font-weight: 500;
}
.modalTitle {
  color: #395d89;
}
.modalText {
  color: #606060;
}
.passwordBtn {
  background-color: #395d89;
  color: white;
}
.tit{
  color: #313131;
}
.icon{
  margin-left: 3%;
}