.heading {
  text-transform: capitalize;
  font-weight: 800;
  font-family: sora;
  font-size: 180%;
  color: #395d89;
  margin-left: 4%;
  margin-top: 5%;
}

.back {
  text-transform: capitalize;
  font-family: sora;
  font-style: normal;
  font-weight: 400;
  font-size: 180%;
  line-height: 18px;
  float: right;
  margin-right: 5%;
  margin-top: 5%;
  text-decoration: underline;
  color: #000000;
}

.details {
  margin-top: 10%;
  margin-left: 5%;
}

.parent {
  display: flex;

  margin-top: 4vh;
  font-size: 130%;
  font-weight: 400;
  font-family: "Sora";
  font-style: normal;
  color: #313131;
}
.child {
  flex: 0 3 400px;
  color: #000000!;
}

.input {
  background-color: transparent;
  border: 0px solid;
  height: 4%;
  width: 160px;
  color: black;
}
.dis {
  outline: 0;
  border-width: 0 0 2px;
  border-color: black;
}
.btn{
  margin-top: 4%;
  background-color: #0095ff;
  border: 1px solid transparent;
  border-radius: 3px;
  box-shadow: rgba(255, 255, 255, .4) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI","Liberation Sans",sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.15385;
  outline: none;
  padding: 8px .8em;
  
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}


