.login {
  width: 10px;
  height: 20px;
}

.header {
  position: sticky;
  top: 0;
  /* z-index: 100; */
  z-index: 99;
}

#logo_cont {
  width: 60px;
}

.step {
  font-family: "Sora", sans-serif;
  font-size: 95%;
  color: #9b9b9b;
  margin-top: 1%;
}

@media screen and (max-width: 1000px) {
  .step {
    display: none;
  }
}

.logo {
  width: 100%;
  object-fit: contain;
}

.bottomLine {
  background: linear-gradient(118.65deg,
      #3699fb 6.89%,
      rgba(255, 172, 242, 0) 107.01%);
  height: 16%;
  width: 48%;
  /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);  */
}

.email:focus {
  outline: none;
}

.email::placeholder {
  color: #dcd3e9;
  font-size: 100%;
  font-family: "Sora", sans-serif;
}

.footer {
  width: 60%;
  padding-left: 0%;
  margin: 0%;
  position: absolute;
  bottom: 5%;
  font-family: "Sora", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 70%;

  text-align: justify;
  color: #7b757a;
}

@media screen and (max-width: 1300px) and (min-width: 990px) {
  .footer {}
}

.signup {
  margin-top: 21% !important;
  margin-left: 10% !important;
}

.login {
  margin-top: 20% !important;
  margin-left: 10% !important;
  width: auto;
}

/* @media screen and (max-width: 1300px) and (min-width:990px){
   .signup {
    margin-top: 30% !important;
    margin-left: 20% !important;
  }
 
}
@media screen and (max-width: 1500px) and (min-width:1400px){
  .signup {
    margin-top: 25% !important;
    margin-left: 11% !important;
  }
  
 
}
@media screen and (max-width: 1400px) and (min-width:1300px){
 .signup {
    margin-top: 31% !important;
    margin-left: 12% !important;
  }
  
 
}
*/

@media screen and (max-width: 1530px) {

  .signup,
  .login {
    margin-top: 21.22% !important;
    margin-left: 15% !important;
    width: auto;
  }

  .status_sort_box {
    /* right: 500px; */
  }
}

@media screen and (width: 1024px) and (height: 600px) {

  .signup,
  .login {
    margin-top: 28.22% !important;
    margin-left: 15% !important;
    width: auto;
  }
}

@media screen and (min-width: 1400px) and (max-width: 1530px) {

  .signup,
  .login {
    margin-top: 21.22% !important;
    margin-left: 15% !important;
  }
}

@media screen and (max-width: 1400px) {

  .signup,
  .login {
    margin-top: 32% !important;
    margin-left: 15% !important;
  }
}

@media screen and (max-width: 1399px) {

  .signup,
  .login {
    margin-top: 27% !important;
    margin-left: 15% !important;
  }
}

@media screen and (max-width: 1200px) {

  .signup,
  .login {
    margin-top: 30% !important;
    margin-left: 15% !important;
  }
}

@media screen and (max-width: 1090px) {

  .signup,
  .login {
    margin-top: 35% !important;
    margin-left: 20% !important;
  }
}

@media screen and (max-height: 900px) {

  .signup,
  .login {
    margin-top: 30% !important;
    margin-left: 20% !important;
  }
}

@media screen and (max-height: 700px) {
  .signup {
    margin-top: 22% !important;
  }
}

@media screen and (min-height: 700px) and (max-height: 840px) {
  .signup {
    margin-top: 25% !important;
  }
}

@media screen and (max-width: 1630px) and (max-height: 700px) {
  .login {
    margin-top: 18% !important;
  }
}

/* @media screen and (max-width: 650px) {
  .signup {
    font-size: 120% !important;
   
  }
} */

@media screen and (max-width: 650px) {
  .secure {
    font-size: 80% !important;
  }
}

@media screen and (max-width: 580px) {
  .secure {
    font-size: 70% !important;
  }
}

@media screen and (max-width: 285px) {
  .only {
    font-size: 70% !important;
  }
}

@media screen and (max-width: 500px) {
  .secure {
    font-size: 60% !important;
  }
}

@media screen and (min-width: 740px) and (max-width: 980px) {
  .secure {
    font-size: 80% !important;
    width: 120% !important;
  }
}

@media screen and (min-width: 760px) and (max-width: 930px) {
  .bottomLine {
    width: 130% !important;
    height: 3%;
    padding-bottom: 2.5px;
  }
}

@media screen and (min-width: 260px) and (max-width: 430px) {
  .bottomLine {
    width: 110% !important;
    padding-bottom: 2.5px;
  }
}

.strongpassword {
  margin-top: 15px;
  margin-bottom: 2px;
}

#placeholder {
  color: #dcd3e9;
  font-family: "Sora", sans-serif;
  font-size: 80%;
}

.success {
  color: #c4c4c4;
  font-size: 150%;
  font-family: "Sora", sans-serif;
  margin-top: 20%;
  margin-left: 20%;
}

.resend {
  color: #818181;
  font-size: 87%;
  font-family: "Sora", sans-serif;
  font-weight: bold;
  text-decoration: underline;
  margin-left: 20%;
}

/* Header FOR APP */

.navbarCustom {
  background-color: black;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.headerText {
  font-family: "Sora";
  color: white;
}

.testTab:focus {
  color: #395d89 !important;
  font-weight: bold;
}

.testTab {
  margin-left: 2.5%;
  border: 0px solid white !important;
  border-color: white;
  text-transform: initial;
  font-weight: 400;
  font-family: "Sora" !important;
  background: white !important;
  color: #8a8a8a !important;
}

.test {
  border: 0px solid white !important;
  border-color: white;
  text-transform: initial;
}

.generate {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 900px) and (min-width: 590px) {
  .uploadBox {
    width: 51% !important;
    margin-left: 20% !important;
    font-size: 85% !important;
  }
}

@media (max-width: 450px) {
  .uploadBox {
    font-size: 75%;
  }
}

@media (max-width: 370px) {
  .uploadBox {
    font-size: 70%;
  }
}

@media (max-width: 345px) {
  .uploadBox {
    font-size: 65%;
  }
}

.PasswordValid li {
  list-style: none;
}

/* New page */

.img {
  margin-bottom: 1%;
}

.uploadBox {
  width: 85%;
  margin-left: 2.5%;
  margin-top: 3%;
}

/* HEADER */
.back a {
  font-family: Sora;
  color: #818181;
  font-weight: bold;
}

.back :hover {
  cursor: pointer;
}

/* Profile Page */
.report {
  margin-top: 8%;

  font-size: 14px;
}

.report2 {
  text-align: left;
  padding-right: 0%;
  margin-top: 3%;
  font-family: "Sora";
}

@media screen and (max-height: 750px) {
  .report2 {
    margin-top: 3% !important;
  }
}

@media screen and (max-height: 700px) {
  .report2 {
    margin-top: 2% !important;
  }

  .report {
    margin-top: 6%;
    font-size: 14px;
  }
}

.profileLine {
  border: 0.5px solid #c0bec0;
  margin-top: 1%;
}

.scrollRep {
  overflow-y: scroll;
  height: 350px;
}

.scrollRep::-webkit-scrollbar {
  display: none;
}

/* .uploadicon{
  margin-left: 77%;
  margin-top: 8%;
  font-family: 'Sora';
  font-weight: 500;
  
} */
/* @media screen and (max-height: 900px) {
  .uploadicon {
 
    margin-top: 5%;
  
   
  }
}
@media screen and (max-height: 770px) {
  .uploadicon {
 
    margin-top: 2%;
    
   
  }
}
@media screen and (max-height: 770px) {
  .uploadicon {
 
    margin-top: 2%;
    
   
  }
} */

.status_sort_box{
  border: none;
  box-shadow: rgba(0, 0, 0, 0.1) -2px 2px 15px -3px,
              rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  width: 140px;
  /* padding: 2px; */
  position: absolute;
  top: 40px;
  right: 0px;
  z-index: 9999;
  background-color: white;
  text-align: start;
  padding-bottom: 10px;
}

.status_sort_box li{
  list-style: none;
  padding-left: 10px;
  padding-top: 5px;
  color: #000000;
}

.status_sort_box li:hover{
  background-color: #c4c4c4;
  cursor: pointer;
 
}
.hello {
  color: #3699fb;
  font-family: "Sora";
  font-size: 160%;
  font-weight: 300;
}

.name {
  margin-top: 3%;
  padding: auto;
}

.time {
  color: #c4c4c4;
}

.proCol5 {
  text-align: left;
  font-family: "Sora";
  font-weight: 400;
  color: #395d89;
  border: none;
  text-decoration: none;
  background: none;
  position: relative;
}
.proCol4{
  min-width: 100px;
}
.proCol4 p {
  text-align: left;
  font-family: "Sora";
  font-weight: 400;
  color: #395d89;
  border: none;
  text-decoration: none;
  background: none;
  margin-bottom: 0;
}

.proCol3 {
  text-align: left;
  font-family: "Sora";
  font-weight: 400;
  color: #395d89;
  border: none;
  text-decoration: none;
  background: none;
}

.proCol2 {
  text-align: right;
  font-family: "Sora";
  font-weight: 350;
  color: #606060;
  font-size: 95%;
  width: fit-content;
  margin-left: auto;
}

.proCol {
  font-family: "Sora";
  font-weight: 500;
  color: black;
  padding: 0;
  width: fit-content;
}

.heading {
  margin-bottom: 4%;
  color: #395d89 !important;
  font-size: 105%;
  font-weight: 600;
  font-family: "Sora";
}

.rowe {
  border-bottom: 0.5px solid #3f3d3f;
  margin-bottom: 1%;
  padding-bottom: 1%;
  border-width: 50% !important;
}

.dropdown-toggle::after {
  display: none !important;
  content: none !important;
}

.icon::after {
  display: none !important;
  content: none !important;
}

.my-dropdown-toggle:after {
  display: none !important;
}

.dropbtn {
  color: white;
  background-color: white !important;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown_content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  /* min-width: 160px; */
  width: 150%;
  font-family: "Sora";
  font-size: 80%;
  color: #606060;

  z-index: 1;
  border-radius: 8px;
}

.dropdown_content a {
  color: #606060;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown_content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown_content {
  display: block;
}

@media screen and (min-width: 250px) and (max-width: 570px) {
  .mobileH {
    width: 120% !important;
  }
}

@media screen and (min-width: 250px) and (max-width: 570px) {
  .profileLine {
    width: 120% !important;
  }
}

@media screen and (min-width: 250px) and (max-width: 560px) {

  .tableheader,
  .row {
    width: 100% !important;

  }
}

@media screen and (min-width: 450px) and (max-width: 560px) {
  .dropdown {
    width: 140% !important;
    font-size: 90%;
  }
}

@media screen and (min-width: 990px) and (max-width: 1100px) {
  .mobileH {
    width: 20% !important;
  }
}

@media screen and (min-width: 770px) and (max-width: 900px) {
  .mobileH {
    width: 110% !important;
  }
}

@media screen and (min-width: 555px) and (max-width: 670px) {
  .mobileH {
    width: 110% !important;
  }
}

@media screen and (min-width: 1193px) and (max-width: 1255px) {
  .mobileH {
    width: 105% !important;
  }
}

@media screen and (min-width: 250px) and (max-width: 415px) {
  .report {
    margin-left: 30px;
  }
}

@media screen and (min-width: 870px) and (max-width: 1200px) {
  .report {
    margin-top: 12% !important;
  }
}

@media screen and (min-width: 416px) and (max-width: 569px) {
  .report {
    margin-left: 35px;
  }
}

@media screen and (min-width: 525px) and (max-width: 870px) {
  .report {
    margin-top: 22% !important;
  }
}

@media screen and (min-width: 430px) and (max-width: 525px) {
  .report {
    margin-top: 30% !important;
  }
}

@media screen and (min-width: 250px) and (max-width: 430px) {
  .report {
    margin-top: 25% !important;
    font-size: small;
  }
}

@media screen and (mx-width: 1376px) {
  .tableheader {
    width: 100%;
    overflow: scroll;
  }
}

.main {
  padding-left: 0px !important;
  /* padding: 56px; */
}

.Inputimg {
  visibility: hidden;
}

@media screen and (max-width: 578px) {
  .strongpassword {
    font-size: 10px;
  }
}

@media screen and (min-width: 430px) and (max-width: 750px) {
  .bottomLine {
    width: 100% !important;
    height: 6%;
    padding-bottom: 2.5px;
  }
}

.dropdown_conten a {
  cursor: pointer;
}

.Generate {
  background-color: red;
}

.homeBody {
  padding-left: 16%;
  width: auto;
  /* margin-right: 5%; */
  margin: 0 2%;
}

/* ===========search bar and generate button */

/* .search_main {
  width: 80%;
  margin: 50px auto;
 
} */
.search_main {
  width: 80%;
  display: flex;
  /* margin-left: 20px; */
}

.form_control {
  padding-left: 2.375rem;
  outline: none;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  background-color: #f9f9f9;
  color: #313131;
  font-size: 20px;
  height: 45px;
  width: 525px;
  border-radius: 5px;
}

.searchicon {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #313131;
  font-size: 30px;
  font-family: "sora";
}

.gen_button {
  outline: none;
  padding: 12px;
  border: none;
  border-radius: 3px;
  background-color: #b7d7f7;
  font-size: 20px;
  /* font-weight: bold; */
}

.emptdata_img,
.emptdata_img1 {
  margin-top: 0px;
  padding-top: 0px;
  text-align: center;
}

.no_report {
  font-family: "sora";
}

@media screen and (max-width: 786px) {
  .search_main {
    width: 50%;
    margin: 10px;
  }

  .form_control {
    width: 400px;
  }
}

.form_control::placeholder {
  color: #313131;
  font-size: 30px;
  font-family: "sora";
}

.dayfilter {
  padding-left: 400px;
  text-align: center;
}

.dayfilter h6 {
  font-size: 20px;
  border-radius: 16px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  width: 180px;
  padding: 7.8px;
  background-color: white;
  cursor: pointer;
}

.listday {
  height: auto;
  width: 140;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  width: 140px;
  background-color: white;
  position: fixed;
  padding: 10px 10px;
  border-radius: 13px;
}

.listday li {
  list-style: none;
}

.tableheader {
  align-items: flex-start;
}

.tableheader p {
  color: #395d89;
  font-weight: bold;
}

.dataempty_image {
  padding-top: 0px;
  height: 320px;
}

.dataempty_image1 {
  padding-top: 10px;
  margin-top: 0px;
  height: 320px;
}

.alpha_sort_btn,
.date_sort_btn,
.status_sort_btn {
  font-size: 20px;
  font-weight: bolder;
  cursor: pointer;
}

.alpha_sort_box {
  z-index: 999;
  width: 200px;
  /* padding: 15px 15px; */
  /* padding-top: 13px; */
  height: 50px;
  border-radius: 4px;
  position: absolute;
  display: block;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  background-color: white;
  text-align: center;
}

.listday_hide,
.alpha_sort_box_hide,
.status_sort_box_hide, .dateTimestatus_sort_box_hide {
  display: none;
}

.alpha_sort_text {
  list-style: none;
  background-color: #b7d7f7;
  color: black;
  cursor: pointer;
  margin-top: 14px;
  display: block;
}

.dateTimestatus_sort_box {
  border: none;
  font-size: 14px;
  font-weight: 700;
  width: 110px;
  /* padding: 2px; */
  color: #395D89;
  text-align: start;
  padding: 5px;
  border:transparent;
  outline: none;
  border-radius:0px;
}
.dateTimestatus_option{
  border: transparent;
  color: #395D89;
  
}




@media screen and (min-width: 990px) and (max-width: 1149px) {
  .status_sort_box {
    /* right: 75px; */
  }

  .status_sort_box li {
    font-size: 10px;
  }
}

@media screen and (min-width: 1150px) and (max-width: 1650px) {
  .status_sort_box {
    /* right: 80px; */
  }

  .status_sort_box li {
    font-size: 13px;
  }

}

/* @media screen and (min-width: 1011px) and (max-width: 1600px) {
  .status_sort_box {
    right: 80px;
  }
} */
@media screen and (max-width: 1150px) {
  .dayfilter {
    padding-left: 100px;
  }

}

@media screen and (max-width: 1450px) {
  .dayfilter {
    padding-left: 200px;
  }

}