.allBody {
  padding-left: 20%;
}

.name {
  margin-top: 3%;
}

.hello {
  color: #4EAFE5;
  font-family: Sora;
  font-size: 160%;
  font-weight: 600;
}

.lastLog {
  color: #8A8A8A;
  font-weight: 600;
}

.profileLine {
  border: 0.5px solid #c0bec0;
  margin-top: 1%;
  margin-right: 15vw;
}

.clientCount {
  margin-top: 10%;
  /* height: 50vh;
  max-height: 400px; */
  width: 40vw;
  min-width: 530px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  border-radius: 20px;
}

.clientCount DropdownButton {
  color: red;
}

.todayButton {
  background-color: transparent;
  color: #313131;
  border: 0;
  font-size: 150%;
  margin-left: 6%;
  margin-top: 5%;
  font-weight: 600;
}

.viewReport {
  /* height: 60vh; */
  /* max-height:500px; */
  width: 24vw;
  min-width: 300px;
  margin-top: 10%;
  margin-left: 4%;
  border-radius: 10px;
  background-color: #FFFFFF;
  /* box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px; */
}

.parent {
  display: flex;
  flex-wrap: wrap;
}

.viewRep {
  margin-top: 35%;
  text-align: center;
  font-weight: 600;
}

.GenerateReport {
  margin-top: 44vh;
  text-align: center;
  font-weight: 600;
  background-color: #B7D7F7;
  color: #000000;
  width: 70%;
  margin-left: 6vw;

  /* padding-top: 0.5%; */


}

.GenerateReport img {
  margin-left: 2%;
}

.chart {
  /* height: 10vw;
  width: 10vw; */
  height: 200px;
  width: 200px;
  border: #313131;
  position: relative;
  margin: 50px;
}

.threeparts {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.noOfClientsChart {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 150px;
  height: 150px;
  /* max-width: 150px; */
  /* height: 14vw; */
  /* margin-top: 5%; */
  /* margin-left: 7%; */
}

.noOfReportsChart {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  height: 200px;
  /* max-width: 200px; */
  /* height: 20vw; */
  /* margin-top: 2%; */
  /* margin-left: 5%; */
}
.infoContainer{
  width: 35%;
  padding-right: 40px;
}
.noOfClients {
  /* margin-left: 180%; */
  /* margin-right: -100%; */
  /* margin-right: 10%; */
  /* margin-top: 50%; */
  border: solid;
  height: 70px;
  color: white;
  background-color: #4EAFE5;
  text-align: center;
  border-radius: 20px;
  font-weight: 400;
  font-family: sora;
  padding-top: 10px;
  font-size: 80%;
  line-height: 25px;
  /* width: 150px; */

}

.noOfReports {
  /* margin-left: 16vw; */
  /* margin-left: 180%; */
  /* margin-right: -100%; */
  margin-top: 15%;
  border: solid;
  height: 70px;
  color: white;
  background-color: #2438EE;
  border-radius: 20px;
  text-align: center;
  font-family: sora;
  font-size: 80%;
  font-weight: 400;
  padding-top: 10px;
  line-height: 25px;
  /* width: 150px; */

}

/* @media only screen and (max-width: 1200px) {
  .noOfReportsChar{
    position: absolute;
max-width: 250px;
height: 20vw;
margin-top: 0%;
margin-left: 30%;
  }
} */
.folder_image {
  margin-top: 12vh;
  margin-left: 6.2vw;
  /* height: 12vw;  */


}

@media screen and (min-width: 1260px) {
  .noOfClientsChart {
    position: absolute;
    /* margin-top: 4%; */
    /* margin-left: 7%;
    max-width: 150px; */
  }

  .noOfReportsChart {
    position: absolute;
    /* max-width: 500px;
    height: 15vw; */
    /* margin-top: 3.5%;
    margin-left: -6.5%; */
  }

  .noOfClients {
    /* margin-left: 230%; */
  }

  .noOfReports {
    /* margin-left: 230%; */
  }

  .viewRep {
    margin-top: 25%;

  }

}

@media screen and (min-width: 1350px) {
  .noOfClientsChart {
    position: absolute;
    /* margin-top: 2%;
    margin-left: 7%;
    max-width: 150px; */
  }

  .noOfReportsChart {
    position: absolute;
    /* max-width: 300px;
    height: 14vw; */
    /* margin-top: 2%;
    margin-left: 2%; */
  }

  .GenerateReport {
    margin-top: 44vh;
  }
}

@media screen and (min-width: 1500px) {
  .noOfClientsChart {
    position: absolute;
    /* margin-top: 2%;
    margin-left: 7%; */
    /* max-width: 150px; */
  }

  .noOfReportsChart {
    position: absolute;
    /* max-width: 300px;
    height: 14vw; */
    /* margin-top: 2%;
    margin-left: 2%; */
  }

  .viewRep {
    margin-top: 20%;

  }

}

@media screen and (min-width: 1700px) {
  .noOfReportsChart {
    position: absolute;
    /* max-width: 250px;
    height: 20vw; */
    /* margin-top: 0%;
    margin-left: 5.3%; */
  }

}

.dropDownToday {
  max-width: 100px !important;
}

.firstItem {
  margin: 0;
  padding: 0;
  width: 50px;
}

.dropdown-toggle::after {
  display: none !important;
  content: none !important;
}

.my-dropdown-toggle:after {
  display: none !important;
}

.dropdown {

  position: relative;
  display: inline-block;
  /* max-width: 75px; */
  margin-left: 4%;
  margin-top: 4%;
}

.dropdown_content {
  display: none;
  position: absolute;
  background-color: #FFFFFF;
  max-width: 110px;
  width: 100%;
  font-family: "Sora";
  font-size: 50%;
  color: #606060;
  z-index: 1;
  /* border-radius: 7%; */
  margin-top: 0%;
  margin-left: 100px;
  border-bottom-left-radius: 7%;
  border-bottom-right-radius: 7%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  padding-bottom: 8%;
}

.dateTimestatus_sort_box {
  border: none;
  font-size: 20px;
  font-weight: 700;
  width: 155px;
  /* padding: 2px; */
  color: #395D89;
  text-align: start;
  padding: 5px;

}

.dateTimestatus_sort_box_options {
  font-size: 14px;

}



.dropdown_content a {
  text-decoration: none;
  font-family: 'Inter', sans-serif;
  color: #000000;

  display: block;
  background-color: #C4C4C4 rgba(0, 0, 0, 0.1);
  font-size: 110%;
  font-weight: 500;
  font-family: sora;
  /* padding: 5px 5px; */
  padding-left: 5%;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-right: 2%;
  font-weight: 400;

}

.dropdown_content a:hover {
  background-color: #ddd;
  color: 000000;
}

.dropdown:hover .dropdown_content {
  display: block;
}

.dropbtn {
  font-family: sora;
  font-size: 150%;
  color: #313131;
  font-weight: 600;
  width: 110%;
  border: none;
  background-color: transparent;
}

.todayIcon {
  margin-left: 10%;
}


@media screen and (max-width: 1200px) {
  .GenerateReport {
    margin-top: 0;
    margin-left: 0;
  }

  .viewReport {
    margin-left: 0;
  }

  .clientCount {
    width: 95%;
  }
}

@media screen and (max-width: 900px) {
  .allBody{
    padding-left: 12%;
  }
}